name: release

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  GO111MODULE: on
  sha_short_length: 8
  release_version: v1.0.1


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ^1.20

    # - name: Run Tests
    #   run: go test -v ./...

    - name: Build
      run: go build -v ./...

    - name: Create Release Binary
      run: |
        BINARY_NAME=container-test-$(uname -s)-$(uname -m)
        mv container-test-cli $BINARY_NAME
        echo "binary_name=$BINARY_NAME" >> $GITHUB_OUTPUT

    - name: Create Release
      id: create_release
      uses: comnoco/create-release-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ env.release_version }}
        release_name: Release ${{ env.release_version }}
        draft: false
        prerelease: true

    - name: Upload Release Asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./$binary_name
        asset_name: $binary_name
        asset_content_type: application/vnd.github.v3+json
