name: test

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: ^1.22

      - uses: actions/checkout@v2

      - name: Test container-test
        run: |
          go run ./... -config tests.example.yaml -image curlimages/curl:latest -debug

      # - name: Run Tests
        # run: go test -v ./...
